span {
  font-weight: bold;
}

p {
  margin: 0;
}

.projectItem .MuiPaper-root.MuiAccordion-root {
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid #64ffda;
}

.projectItem .MuiAccordion-root {
  background-color: transparent;
  box-shadow: none;
}

.projectItem .MuiAccordion-root.Mui-expanded {
  background-color: transparent;
}

.projectItem .MuiAccordionSummary-root {
  padding: 10px;
}

.projectItem .MuiAccordionSummary-expandIconWrapper {
  color: #64ffd4;
}

.projectItem {
  display: block;
  background: transparent;
  width: 100%;
}

.projectDetails {
  color: white;
  width: 100%;
  font-size: 1.2rem;
}

.titleWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.projectTitle {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #64ffda;
  opacity: 0.8;
}

.projectDescription {
  font-weight: normal;
}

.projectTechnologies {
  width: 100%;
  margin-top: 10px;
  color: white;
  font-size: 1.2rem;
  overflow: hidden;
  position: relative;
  border-bottom: #64ffd4 1px solid;
  white-space: nowrap;
}

.techScrollContainer {
  display: flex;
  align-items: center;
}
.techScrollContainer:hover .scrollGroup {
  animation-play-state: paused;
}

.scrollGroup {
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  will-change: transform;
  animation: scrolling 20s linear infinite;
}

.technology {
  margin: 0 20px 10px 0;
  white-space: nowrap;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
