span {
  font-weight: bold;
}

p {
  margin: 0;
}

.workItem .MuiPaper-root.MuiAccordion-root {
  border-radius: 50px;
  overflow: hidden; /* see note below */
  border: 1px solid #64ffda;
}

.workItem .MuiAccordion-root {
  background-color: transparent;
  box-shadow: none;
}

.workItem .MuiAccordion-root.Mui-expanded {
  background-color: transparent;
}

.workItem .MuiAccordionSummary-root {
  padding: 10px;
}

.workItem .MuiAccordionSummary-expandIconWrapper {
  color: #64ffda;
}

.workItem {
  display: block;
  background: transparent;
}

.accordionSummaryContent {
  display: grid;
  grid-template-columns: 120px 1fr;
  column-gap: 16px;
  align-items: center;
}

.years {
  font-size: 1.3rem;
  color: #64ffda;
  opacity: 0.8;
  width: 120px;
  white-space: nowrap;
  text-align: left;
  margin-right: 40px;
}

.workDetails {
  color: white;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.workDetails p {
  margin: 0 0 5px 0;
}

.company {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #64ffda;
  opacity: 0.8;
  text-align: left;
}

.labelValueRow {
  display: grid;
  grid-template-columns: 120px 1fr;
  column-gap: 8px;
  margin: 0 0 5px 0;
}

.label {
  white-space: nowrap;
  font-weight: bold;
}

.value {
  font-weight: normal;
}
