span {
  font-weight: bold;
}

p {
  margin: 0;
}

.workItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.years {
  font-size: 1.3rem;
  color: #64ffda;
  opacity: 0.8;
  width: 120px;
  white-space: nowrap;
  text-align: left;
  margin-right: 40px;
}

.workDetails {
  color: white;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.workDetails p {
  margin: 0 0 5px 0;
}

.company {
  font-size: 1.3rem;
  font-weight: bolder;
  color: #64ffda;
  opacity: 0.8;
}

.labelValueRow {
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 8px;
  margin: 0 0 5px 0;
}

.label {
  white-space: nowrap;
  font-weight: bold;
}

.value {
  font-weight: normal;
}
