body {
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row; /* Side-by-side layout */
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  background: linear-gradient(-45deg, #001d3d, #004da3, #001d3d, #004da3);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.contentContainer {
  width: 75%; /* 75% of the viewport width */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
